.listItem {
  flex-direction: column;
  padding: 0 !important;
}

.listItemBar {
  display: flex;
  background-color: #8bc34a;
  width: 100%;
  justify-content: left;
  flex-direction: row;
}

.listItemBarLeftSlot {
  display: flex;
  padding: 8px;
  font-weight: bold;
}

.listItemBarRightSlot {
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}

.chip {
  margin-right: 5px;
}

.text {
  width: 100%;
}
